<%= form_with(model: @customer) do |form| %>
  <div class="mb-6">
    <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
      <%= t('customers.fields.name') %>*
    <% end %>
    <%= form.text_field :name, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
  </div>
  <div class="flex flex-col gap-4 sm:flex-row">
    <div class="mb-6 w-full">
      <%= form.label :phone_number, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
        <%= t('customers.fields.phone_number') %>*
      <% end %>
      <%= form.text_field :phone_number, onkeypress:"$(this).mask('(99) 99999-9999')", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
    <div class="mb-6 w-full">
      <%= form.label :whatsapp, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
        <%= t('customers.fields.whatsapp_number') %>
      <% end %>
      <%= form.text_field :whatsapp, onkeypress:"$(this).mask('(99) 99999-9999')", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
    <div class="mb-6 w-full">
      <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
        <%= t('customers.fields.email') %>
      <% end %>
      <%= form.email_field :email, placeholder: 'email@gmail.com', class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
  </div>
  <h3 class='dark:text-white font-semibold pb-4'><%= t('customers.fields.address_section') %></h3>
  <%= form.fields_for :address do |address_form| %>
    <div class="flex gap-4 flex-wrap">
      <div class="mb-6 sm:w-20">
        <%= address_form.label "#{t('customers.fields.address.state')}*", class: 'block uppercase mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= address_form.select :state,
                        options_for_select(@states || [], :selected => 'RN'),
                        { include_blank: false },
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500',
                        id: 'states' %>
      </div>
      <div class="mb-6 sm:w-1/5">
        <%= address_form.label "#{t('customers.fields.address.city')}*", class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
        <%= address_form.select :city,
                        options_for_select(@cities || [], :selected => 'Natal'),
                        { include_blank: false },
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500',
                        id: 'cities' %>
      </div>
      <div class="mb-6 sm:w-1/4">
        <%= address_form.label :zip_code, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
          <%= t('customers.fields.address.zip_code') %>
        <% end %>
        <%= address_form.text_field :zip_code, onkeypress:"$(this).mask('99999-999')", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="mb-6 w-full">
        <%= address_form.label :street, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
          <%= t('customers.fields.address.street') %>*
        <% end %>
        <%= address_form.text_field :street, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>
      <div class="mb-6 w-full">
        <%= address_form.label :neighborhood, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
          <%= t('customers.fields.address.neighborhood') %>*
        <% end %>
        <%= address_form.text_field :neighborhood, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>
      <div class="mb-6">
        <%= address_form.label :number, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
          <%= t('customers.fields.address.number') %>*
        <% end %>
        <%= address_form.text_field :number, required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
      </div>
    </div>
    <div class="mb-6 w-full">
      <%= address_form.label :complement, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" do %>
        <%= t('customers.fields.address.complement') %>
      <% end %>
      <%= address_form.text_field :complement, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %>
    </div>
  <% end %>
  <p class='dark:text-white my-4'><%= t('common.required_fields') %></p>
  <% if @customer.errors.present? %>
    <%= render 'shared/error_messages', errors: @customer.errors.full_messages %>
  <% end %>
  <hr class='py-4'>
  <div class='flex w-full justify-end'>
    <button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
      <%= t('common.submit') %>
    </button>
  </div>
<% end %>
<script>
  const stateSelect = document.getElementById('states')

  stateSelect.addEventListener('change', () => {
    const selectedState = stateSelect.value;

    fetch(`/api/v1/states/${selectedState}`)
      .then((response) => response.json())
      .then((data) => {
        const citySelect = document.getElementById('cities');

        while (citySelect.options.length > 0) citySelect.remove(0);

        data.forEach((city, index) => {
          const option = document.createElement('option');
          option.text = city;
          option.value = city;

          citySelect.appendChild(option)
        })
      })
  })
</script>
