<%= render 'layouts/main_wrapper', title: t('customers.index') do %>
  <% if flash[:notice] %>
    <%= render 'shared/toast', message: flash[:notice] %>
  <% end %>
  <% if flash[:error] %>
    <%= render 'shared/toast', message: flash[:error], error: true %>
  <% end %>
  <div class="relative overflow-x-auto p-2 flex flex-col gap-2">
    <div class='flex justify-between items-center'>
      <% if @customers.present? %>
        <span class='dark:text-white'>
          <%= t('customers.customers_number') %>: <strong><%= @customers_count %></strong>
        </span>
      <% end %>
      <% if @search_count.present? && @search_count > 0 %>
        <div class='mx-2'></div>
        <span class='dark:text-white'>
          <%= t('customers.search_customers_number') %>: <strong><%= @search_count %></strong>
        </span>
      <% end %>
      <a href='/customers/new' class='ml-auto'>
        <button type="button" class="text-white w-fit bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
          <%= t('customers.new_customer') %>
        </button>
      </a>
    </div>
    <%= form_with(url: customers_path, method: :get) do |form| %>
      <%= form.label :search, "Search", class: "mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white" %>
      <div class="relative my-4">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <%= embedded_svg('search_icon', class: 'w-5 h-5 text-gray-500 dark:text-gray-400') %>
        </div>
        <%= form.search_field :search, placeholder: t('customers.search'), required: true, value: @search_term, class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-secondary-500 focus:border-secondary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-secondary-500 dark:focus:border-secondary-500"%>
        <% if @search_term.present? %>
          <a href="/customers" class="font-medium absolute right-24 mr-2 bottom-4 text-primary-600 dark:text-primary-500 hover:underline">
            <%= t('customers.show_all') %>
          </a>
        <% end %>
        <%= form.submit t('common.search'), class: "cursor-pointer text-white absolute right-2.5 bottom-2.5 bg-secondary-700 hover:bg-secondary-800 focus:ring-4 focus:outline-none focus:ring-secondary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-secondary-600 dark:hover:bg-secondary-700 dark:focus:ring-secondary-800" %>
      </div>
    <% end %>
    <% if @customers.empty? %>
      <%= render 'shared/empty_message',
        message: @search_count.present? && @search_count == 0 ? t('customers.empty_search') : t('customers.empty')
      %>
    <% else %>
      <%= render 'shared/table/wrapper' do %>
        <%= render 'shared/table/head',
          columns: [
            t('customers.fields.name'),
            t('customers.fields.phone_number'),
            t('customers.fields.whatsapp_number'),
            t('customers.fields.email'),
            t('common.created_at'),
            t('common.updated_at'),
          ]
        %>
        <tbody>
          <% @customers.each do |customer, index| %>
            <%= render 'shared/table/row' do %>
              <%= render 'shared/table/cell', bold: true, value: customer.name %>
              <%= render 'shared/table/cell', value: customer.phone_number %>
              <%= render 'shared/table/cell', value: customer.whatsapp %>
              <%= render 'shared/table/cell', value: customer.email %>
              <%= render 'shared/table/cell', value: customer.created_at.strftime('%d/%m/%Y %H:%M') %>
              <%= render 'shared/table/cell', value: customer.updated_at.strftime('%d/%m/%Y %H:%M') %>
              <%= render 'shared/table/cell', html: true do %>
                <div class='flex justify-end gap-4'>
                  <a id="edit-<%= customer.id %>" href=<%= "/customers/#{customer.id}" %>>
                    <button title="<%= t('common.edit') %>" type="button">
                      <span class="material-symbols-outlined">edit</span>
                    </button>
                  </a>
                  <%= button_to customer, method: :delete, id: "delete-#{customer.id}", title: t('common.delete') do %>
                    <%= content_tag :span, "delete", class: "material-symbols-outlined text-red-500" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
    <%= render 'shared/table/paginate', items: @customers, total_entries: @customers_number %>
  </div>
<% end %>
